.Contacts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.Top {
    font-size: 40px;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 30px;
}