.swapy-scope {
  display: block;
  width: 100%;
  padding: 40px 0;
  background-color: black
}

.swapy-scope * {
  box-sizing: border-box;
  font-family: inherit;
}

/* UI-LAYOUTS STYLE GRID */
.swapy-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto;
}
/* Card sizing */
.swapyItem {
  width: 100%;
  min-height: 260px;
}

*.swapyItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-heading {
  color: #ffb000;
  font-family: "Bangers", cursive;
    font-weight: 400;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 0.05em;
  margin-left: 40px;
}

