@import "tailwindcss";
body {
  background-color: #000;
}

html{
  scroll-behavior: smooth;
}

.font-bangers {
  font-family: 'Bangers', cursive;
}

.heading {
 font-family: "Bangers", cursive;
  font-weight: 400;
  font-size: 9vh;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  background-image: linear-gradient(
    180deg,
     #FF8C1A,
    #FFD23F
   
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 3px 0 #000);
  transform: skewX(-4deg);
  display: inline-block;
}

.paragraph {
  /* 1. Change Font: Use 'Bangers' or 'Impact' for that blocky comic look */
  font-family: "Bangers", "Impact", sans-serif;
  color: #FFFFFF;
  -webkit-text-stroke: 1px black; /* stroke lgana seekhlo bs */
  text-shadow: 4px 4px 0px #000000;
  font-size: 4vh;
  letter-spacing: 0.1em;
  line-height: 1;
  font-weight: 500; 
  width: 75%; 
}

.nav-text {
  font-family: "Julee", cursive;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;         
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
}

.reg{
  font-family: "Bangers";
  margin: 2px;
  font-size: 25px;
  -webkit-text-stroke: 1px black;
}

@keyframes glowFade {
  0%, 100% {
    box-shadow: 0 0 4px rgba(208,190,128,0.3);
    opacity: 0.6;
  }
  50% {
    box-shadow: 0 0 16px rgba(208,190,128,0.95);
    opacity: 1;
  }
}

.glow-hr {
  animation: glowFade 4s ease-in-out infinite;
}
