@import "tailwindcss";
.font-bangers {
  font-family: 'Bangers', cursive;
}
.heading {
 font-family: "Bangers", cursive;
  font-weight: 400;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-image: linear-gradient(
    180deg,
     #FF8C1A,
    #FFD23F
   
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;


    filter: drop-shadow(3px 3px 0 #000)
          ;

  transform: skewX(-4deg);
  display: inline-block;
}



.paragraph {
  font-family: "Edu TAS Beginner", cursive;

  font-weight: 400;
  font-size: 25px;


  line-height: 1;


  letter-spacing: 0.05em;

  text-align: center;

  color: #D9D9D9;

}

.button-text {
  font-family: "Gaegu", cursive;
   width: 200px;
  height: 47px;


  border: 3px solid #000000;
  border-radius: 10px;

 
  background-color: #ffffff;
 font-size: 22px;
  color: #000000;

 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


  display: flex;
  align-items: center;
  justify-content: center;

 
  cursor: pointer;
}

.nav-text {
  font-family: "Julee", cursive;
  
  font-weight: 400;
  font-size: 25px;

  
  line-height: 1;         

  letter-spacing: 0.05em;

  color: #ffffff;

  cursor: pointer;
}

